body{
	background-image: url(biba_boba.webp);
	background-size: 1000px 745px;
}

h1{
	color: rgb(1, 11, 0);
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 25px;
	
}

p.first{
	text-shadow: 3px 3px 3px rgb(188, 0, 217);
	background-color: #e3d0ff;
	text-align: left;
	font-size: 30px;
	color: rgb(0, 0, 0);
	border-left: rgb(188, 0, 217) solid 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right: 750px;
	padding: 2px 2px 2px 2px;
}

p.second{
	text-shadow: 3px 3px 3px rgb(188, 0, 217);
	background-color: #e3d0ff;
	text-align: left;
	font-size: 30px;
	color: rgb(0, 0, 0);
	border-left: rgb(188, 0, 217) solid 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right: 950px;
	padding: 2px 2px 2px 2px;
}

p.third{
	text-shadow: 3px 3px 3px rgb(7, 0, 221);
	background-color: #d3cdff;
	text-align: left;
	font-size: 30px;
	color: rgb(0, 0, 0);
	border-left: rgb(7, 0, 221) solid 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right: 1225px;
	padding: 2px 2px 2px 2px;
}