/*body{
	background-image: url(skull.gif);
}*/

h1{
	color: rgb(1, 11, 0);
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 25px;
	
}

p.first{
	background-color: #e6ffe9;
	text-align: left;
	font-size: 30px;
	color: rgb(0, 0, 0);
	border-left: green solid 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right: 750px;
}

p.second{
	background-color: #e6ffe9;
	text-align: left;
	font-size: 30px;
	color: rgb(0, 0, 0);
	border-left: green solid 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right: 950px;
}

p.third{
	background-color: #e6ffe9;
	text-align: left;
	font-size: 30px;
	color: rgb(0, 0, 0);
	border-left: green solid 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right: 1225px;
}