body {
	background-image: url(biba_boba.webp);
	background-attachment: fixed;
	background-size: 1000px 755px;
	font-family: 'Courier New', Courier, monospace;
}

h1 {
	font-family: "Sofia", sans-serif;
    font-size: 35px;
	text-align: center;
}

p.top1 {
	border-left: rgb(188, 0, 217) solid 5px;
	background-color: #e3d0ff;
	font-size: 25px;
}

p.top2 {
	border-left: rgb(188, 0, 217) solid 5px;
	background-color: #e3d0ff;
	font-size: 25px;
}

p.top3 {
	border-left: rgb(7, 0, 221) solid 5px;
	background-color: #d3cdff;
	font-size: 25px;
}

p.first {
	text-shadow: 3px 3px 3px rgb(188, 0, 217);
	background-color: #e3d0ff;
	text-align: left;
	font-size: 30px;
	color: rgb(0, 0, 0);
	border-left: rgb(188, 0, 217) solid 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right: 475px;
	padding: 2px 2px 2px 2px;
}

p.second {
	text-shadow: 3px 3px 3px rgb(188, 0, 217);
	background-color: #e3d0ff;
	text-align: left;
	font-size: 30px;
	color: rgb(0, 0, 0);
	border-left: rgb(188, 0, 217) solid 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right: 750px;
	padding: 2px 2px 2px 2px;
}

p.third { 
	text-shadow: 3px 3px 3px rgb(7, 0, 221);
	background-color: #d3cdff;
	text-align: left;
	font-size: 30px;
	color: rgb(0, 0, 0);
	border-left: rgb(7, 0, 221) solid 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right: 1215px;
	padding: 2px 2px 2px 2px;
}
